body {
    background-color: #2f2f2f;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #aaa;
}

a:hover {
    color: #fff;
}

a:active {
    color: #ddd;
}

img {
    margin: 16px auto;
    border: 5px solid black;
    display: block;
    object-fit: contain;
    width: max-content;
    height: max-content;
    max-height: 50vh;
}

header {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 16px 32px;
    background-color: #1a1a1a;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    opacity: 0.5;
}

main {
    margin: 16px;
}

section.flex {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    align-items: center;
}

section.flex img, section.grid img {
    margin: 0;
    max-width: calc(50vw - 64px);
    max-height: unset;
}

footer {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #2a2a2a;
    text-align: center;
    padding: 16px;
}